<html>
    <head>
        <title>Scrabble Word App</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


    </head>
    <body>
        <div class = "container">
            <form id="form_id" action="/view_result">
                <div class="form-group">
                    <label for="textInput">Word to check: </label>
                    <input type="text" class="form-control" name="scrabble_word" id="scrabble_word">
                </div>
                <button type="submit" class="btn btn-default">Submit your word</button>
            </form>

        </div>

    </body>
</html>
